{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Terminos&Condiciones</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/utilReg.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/mainReg.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/estilo.css' %}">
	
<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-03.jpeg');"></div>
				<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-59">

				<h2>Políticas y Condiciones</h2>
			

				<div class="politicas">
					<h4>REGLAMENTO DE USO</h4>
					</br>

					<p>Dedica unos minutos a revisar los cambios de nuestras Condiciones y la Política de datos. Tu experiencia en Instagram no cambiará y tus fotos y videos te seguirán perteneciendo. Te brindaremos mejores formas de acceder a tus datos y de entender cómo se usan. Si sigues usando Instagram desde el 14 de julio de 2018 (inclusive), aceptas estos cambios.</p>
					</br>

					<P>Instagram forma parte de Facebook desde 2012 y estamos realizando algunos cambios corporativos. A partir de ahora, nuestras Condiciones indicarán que Facebook Inc. es responsable de Instagram. La app de Instagram y la forma en que tratamos los datos no se verán afectadas.</P>
					</br>
					
					<P>Nuestras Condiciones ahora son más claras en cuanto al servicio que brindamos y al compromiso que esperamos de todos los miembros de nuestra comunidad para que Instagram siga siendo un lugar seguro para todos. Estos son algunos cambios que queremos que conozcas:</P>
					</br>
					
					<P>Actualizamos nuestras licencias de propiedad intelectual, pero tus derechos no se modificaron. Tus fotos y videos te siguen perteneciendo.</P>
					</br>
					
					<p>Actualizamos cómo usamos la información para mostrar actividad en Instagram, para que las personas puedan ver cuándo interactuaste con un anuncio de la misma forma que sucede con cualquier publicación.</p>
				    </br>
					
					<p>También tenemos una nueva Política de datos en la que se explica cómo se recopilan, comparten y usan los datos en los productos de Facebook, incluido Instagram. En la política se hace referencia a las funciones más recientes, como las historias, los mensajes directos, el estado de actividad y las herramientas creativas de nuestras cámaras. Queríamos asegurarnos de que estuvieras al tanto de esta nueva información incluida en la política.
					</br></br>
					
					Recibimos diferentes tipos de información de tu dispositivo, como la forma en que realizas toques y te desplazas, que puede ayudar a distinguir humanos de bots y detectar fraude.
					</br></br>
					
					Podemos usar y compartir información con fines de investigación, en especial de un modo que nos ayude a mantener la seguridad de nuestra comunidad en Instagram, por ejemplo, para entender y evitar el bullying y el acoso.
					</br></br>
					
					La política proporciona más información sobre los datos que recopilamos de tu actividad y de nuestros socios, cómo vinculamos la información entre las empresas de Facebook y cómo personalizamos tu experiencia, incluidos los anuncios.
					</br></br>
					
					Proporcionamos anuncios sin revelar tu identidad a los anunciantes. En la política se incluye más información sobre los datos que compartimos con anunciantes y socios. Nunca vendemos tus datos.
					</br></br>
					
					Como esta política también comprende a Facebook, se incluye información sobre el reconocimiento facial, aunque en Instagram no usamos esta tecnología. Si empezamos a utilizarla, te avisaremos y te daremos la opción de elegir si quieres aceptar su uso.</p>

					
				</div>
				<input id="volver" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" style='width:150px; height:50px;' type="button" value="Volver" target="_blank" onclick="window.location.href='registrar.html'">

			</section>
		</div>
		
	</div>
<!--===============================================================================================-->
	<script src="{%static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{%static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'js/main.js' %}"></script>

</body>
</html>